<html>
    <head>
        <title>res.render() Demo</title>
	<link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h2 style="color: #44fd86">Welcome to GeeksforGeeks</h2>
    </body>
</html>

